#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}

.Navbar {
  position: absolute; 
  /* maybe make sticky later */
  background-color: #003D3A;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.Navbar ul {
  display: flex;
  justify-content: right;
  list-style-type: none;
  display: flex;
  padding: 0;
  align-items: center;
  margin: 1.5rem auto;
}

.Navbar li {
  padding: 0 1rem;
  font-size: 1.2rem;
}

.title-item {
  position: absolute;
  left: 0;
}

.Navbar h2 {
  margin: 0 0 0 0.7rem;
  font-size: 2rem;
  color: #ffe23b;
}

.Navbar .Link {
  padding: 1.7rem 1.8rem;
  color: #fff3b0
}

.Navbar .Link:hover {
  color: rgb(255, 232, 98);
  font-weight: bold;
}

.Spacing {
  margin-top: 7rem;
}




.Footer {
  background-color: #003D3A;
  color: #fff;
  padding: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
