#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}

/* For Main's content spacing */
.Spacing {
  margin-top: 7rem;
}

/* For Navbar */

.Navbar {
  position: absolute; 
  /* maybe make sticky later */
  background-color: #003D3A;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.Navbar ul {
  display: flex;
  justify-content: right;
  list-style-type: none;
  display: flex;
  padding: 0;
  align-items: center;
  margin: 1.5rem auto;
}

.Navbar li {
  padding: 0 1rem;
  font-size: 1.2rem;
}

.title-item {
  position: absolute;
  left: 0;
}

.Navbar h2 {
  margin: 0 0 0 0.7rem;
  font-size: 2rem;
  color: #ffe23b;
}

.Navbar .Link {
  padding: 1.7rem 1.8rem;
  color: #fff3b0
}

.Navbar .Link:hover {
  color: rgb(255, 232, 98);
  font-weight: bold;
}

/* For post */

.submit {
  box-shadow: rgb(0, 0, 0) 0 0 1.5em;
  transition: box-shadow 0.7s ease;
}

.plain {
  box-shadow: rgba(255, 255, 255, 0) 0 0 1.5em;
  transition: box-shadow 0.7s ease;
}

/* For Card in All Plants */

.all-cards {
  display: flex;
  gap: 20px;
}

.Card {
  color: black;
  text-align: center;
  /* align-items: center; */
  background-color: #fff;
  border-radius: 10px;
  width: 300px;
  height: 350px;
}

.Card img {
  max-width: 150px;
  max-height: 150px;
  width: auto;
  height: auto;
}

.Card button {
  margin: 0.2rem 0.2rem;
  height:50px;
  width: 80px;
  /* idk why buttons seem to be ofset */
}

.liked {
  border-color: #003D3A;
  background-color: #A40E4C;
}
.unliked {
  border-color: #003D3A;
  background-color: rgb(204, 204, 204);
}
.more {
  border-color: #003D3A;
  background-color: #b18564;
}


.Footer {
  background-color: #003D3A;
  color: #fff;
  padding: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
